@import "styles/_mixins.scss";
@import "styles/colors.scss";

.color-slider{
   

    &:focus-within,&:focus{
outline: none;
        .color-selector{
            opacity: 1;
            pointer-events: all;
        }
    }
   

    svg{
        width:1em;
        height:1em;
    }


    .color-selector{
        opacity: 0;
        position: absolute;
        right:0;
        top:100% ;
        mix-blend-mode:screen;
        padding: 0.5em 0;
        pointer-events: none;

        &--groove{
            width:5em;
            height: 0.2em;
            border-radius: 1em;
            background-color: white;
        }

        &--dot{
            position: absolute;
            width:0.4em;
            height: 0.4em;
            border-radius:0.4em;
            background-color: white;
            border: solid #444 4px;
            transform: translate(-.2em, calc(-.1em - 4px));
        }

        input{
            // width:10rem;
            width:100%;
            height:100%;
            top:0;
            left:0;
            position: absolute;
            opacity: 0;
        }
    
        label{
            opacity: 0;
            position: absolute;
            left:-10000px;
        }
    }

    
}